<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Opengento\BetterBo\Api\Data\GetPayloadInterface" type="Opengento\BetterBo\Model\Data\Get\GetPayload" />
    <preference for="Opengento\BetterBo\Api\Data\SavePayloadInterface" type="Opengento\BetterBo\Model\Data\Save\SavePayload" />
    <preference for="Opengento\BetterBo\Api\Data\SavePayloadValueInterface" type="Opengento\BetterBo\Model\Data\Save\SavePayloadValue" />
    <preference for="Opengento\BetterBo\Api\Data\SaveResponseInterface" type="Opengento\BetterBo\Model\Data\Save\SaveResponse" />
    <preference for="Opengento\BetterBo\Api\Data\SaveResponseValueInterface" type="Opengento\BetterBo\Model\Data\Save\SaveResponseValue" />
    <preference for="Opengento\BetterBo\Api\ProductManagementInterface" type="Opengento\BetterBo\Model\ProductManagement" />
    <preference for="Opengento\BetterBo\Api\GetProductAttributesInterface" type="Opengento\BetterBo\Model\GetProductAttributes" />
</config>
